<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="testspring.mapper.AccountMapper">

    <!--******************************************************
        * アカウントを全件取得する
        ******************************************************-->
    <select id="findAll" resultType="testspring.domain.Account">
        SELECT
            account_id      AS accountId,
            password,
            account_name    AS accountName,
            account_role_id AS accountRoleId
        FROM
            accounts
    </select>

    <!--******************************************************
        * 検索条件で、アカウントリストを取得する
        ******************************************************-->
    <select id="findByCriteria" resultType="testspring.domain.Account">
        SELECT
            account_id      AS accountId,
            password,
            account_name    AS accountName,
            account_role_id AS accountRoleId
        FROM
            accounts
        <where>
            <if test="accountId != null">
                AND account_id like #{accountId} || '%'
            </if>
            <if test="accountName != null">
                AND account_name like '%' || #{accountName} || '%'
            </if>
        </where>
    </select>

    <!--******************************************************
        * アカウントを1件取得する
        ******************************************************-->
    <select id="getOne" resultType="testspring.domain.Account">
        SELECT
            account_id      AS accountId,
            password,
            account_name    AS accountName,
            account_role_id AS accountRoleId
        FROM
            accounts
        WHERE
            account_id = #{accountId}
    </select>

</mapper>