<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>アカウント新規登録</title>
</head>
<body>

<div layout:fragment="content">
    <h2>アカウント新規登録</h2>

    <form action="/accounts/create" th:action="@{/accounts/create}" th:object="${accountForm}" method="post">

        <div>

            <!--/* ログインID */-->
            <div th:classappend="${#fields.hasErrors('accountId')}? 'has-error'">
                <label>ログインID(必須)： <input type="text" name="accountId" th:field="*{accountId}" /></label>
                <span th:if="${#fields.hasErrors('accountId')}" th:errors="*{accountId}">error!</span>
            </div>

            <!--/* パスワード */-->
            <div th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                <label>パスワード(必須)： <input type="text" name="password" th:field="*{password}" /></label>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error!</span>
            </div>

            <!--/* アカウント名 */-->
            <div th:classappend="${#fields.hasErrors('accountName')}? 'has-error'">
                <label>アカウント名(必須)： <input type="text" name="accountName" th:field="*{accountName}" /></label>
                <span th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}">error!</span>
            </div>

            <!--/* ボタン部分 */-->
            <input type="submit" value="作成" />

        </div>

    </form>
</div>

</body>
</html>