<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>アカウント検索</title>
</head>
<body>

<div layout:fragment="content">
    <h2>アカウント検索</h2>

    <a th:href="@{'/accounts/addNew'}">新規登録</a>

    <!--/* 検索条件 */-->
    <form action="/accounts" th:action="@{/accounts}" th:object="${accountForm}" method="post">
        <div>
            <label>ログインID： <input type="text" name="accountId" th:field="*{accountId}" /></label><br />
            <label>アカウント名： <input type="text" name="accountName" th:field="*{accountName}" /></label><br />
            <input type="submit" value="検索" />
        </div>
    </form>

    <!--/* 検索結果一覧 */-->
    <div>
        <table>
            <thead>
                <tr>
                    <th>ログインID</th>
                    <th>アカウント名</th>
                    <th>権限</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="account: ${accounts}">
                    <td th:text="${account.accountId}">1</td>
                    <td th:text="${account.accountName}">山田　太郎</td>
                    <td th:text="${account.accountRoleId}">管理者</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>